header {

    background-color: $yellow;
    height: 90px;
    opacity: 50%;

    img {
        display: grid;
        padding: 10px;
    }

    ul {
            display: flex;
            flex-direction: row;
            padding: 10px;
           text-decoration-color: $white;
    }
}