header {
    position: fixed;
    background-color: $yellow;
    height: 90px;
    width: 100%;
    background: rgba(251, 234, 190, 0.5);

    img {
        display: grid;
        top: -490px;
        left: -600px;
    }

    ul {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        display: grid;
        grid-template-columns: 25% 34% 20%;
        margin-left: 67%;
        padding-top: 30px;
        a, a:hover, a:active, a:visited { color: white; }
    }
    

}
