

article {
    background-image: url("../../../deploy/img/background.jpg");
    background-size: cover;
    height: 980px;
    width: 1452px;
}

img {
    display:grid;
    padding-left: 45%;
    padding-top: 500px;
    position: absolute;
}

h1 {
    font-family:'Roboto', sans-serif;
    position: absolute;
    left: 66%;
    bottom: -30%;
    color: white;
    font-size: 144px;
    font-weight: bold;
    // display: grid;
    // padding-left: 925px;
    // padding-bottom: 400px;
}