

article {
    background-image: url("../../../deploy/img/background.jpg");
    background-size: cover;
    height: 980px;
    width: 1452px;
}

img {
    display:grid;
    padding-left: 700px;
    padding-top: 500px;
}

h1 {
    font-family:'Roboto', sans-serif;
    position: absolute;
    color: white;
    font-size: 144px;
    font-weight: bold;
    padding-left: 950px;
}