p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: grid;
    grid-template-columns: 700px auto;
    grid-template-rows: 120px;
    padding-top: 50px;
    padding-left: 50%;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    display: grid;
    padding-top: 175px;
    padding-left: 50%;
}



#image {
    display: grid;
    margin-left: 20%;
    margin-top: -400px;
    margin-bottom: 10%;
    
}

#image2 {
    display: grid;
    margin-left: 20%;
    margin-top: -626px;
    margin-bottom: 10%;
}