body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto 1440px auto;
}


img {
    margin-left: auto;
}

p {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}